*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #000000;
}
/* ************************
AQUÍ PERSONALIZO LA CABEZERA
************************ */
.cabecera{
    background-color: rgb(35, 35, 27);
    color: aliceblue;
    display: flex;
    align-items: center;
    padding: 15px 40px;

}
.logo{
    width: 500px;
}
.logo img{
    height: 100px;
}
.menu ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.menu a{
    color: aliceblue;
    text-decoration: none;
    font-weight: bolder;
}
.menu a:hover{
    color: #ff8800;
}
.redes{
    display: flex;
    gap: 20px;
    margin-left: auto;
}
.redes img{
    height: 40px;
}
.contenido{
    background-color: #ff8800;
    width: 100%;
    height: calc(100vh - 110px);
}
iframe{
    width: 100%;
    height: 100%;
    border: none;
}
.pie_de_página{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    height: 100px;
    font-weight: bolder;
    align-content: center;
}
/* ************************
AQUÍ PERSONALIZO LA PORTADA
************************ */
.portada{
    height: 100vh;
    background-image: url(IMAGENES/portada.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
}
.portada_texto{
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
    width: 700px;
    color: white;
    padding: 50px;
}
.portada_texto h1{
    font-size: 60px;
    line-height: 1;
    margin-bottom: 20px;
}
.portada_texto h3{
    margin-bottom: 20px;
    font-weight: 600;
}
.portada_texto p{
    font-size: 18px;
}
.beneficios{
    list-style: none;
    margin-bottom: 20px;
}
.beneficios li{
    font-size: 25px;
}
/* ************************
AQUÍ PERSONALIZO LA SECCIÓN DE SERVICIOS
************************ */
.servicios-body{
    background-image: url("IMAGENES/SERVICIO/FONDO_SERVICIOS.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.servicios_seccion h1{
    background-color: #ff8800;
    color: white;
    padding: 20px 50px;
    border-radius: 30px;
    display: inline-block;
    margin-bottom: 10px;
}

.elemento_servicio img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ff8800;
}
.servicios_seccion h2{
    background-color: #ffffff;
    color: #ff8800;
    padding: 10px 30px;
    border-radius: 30px;
    display: inline-block; 
}
.servicio_grilla{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 30px;
}
.servicios_seccion{
    text-align: center;
    margin-top: 50px;
}
/* ************************
AQUÍ PERSONALIZO LA SECCIÓN DE NOSOTROS
************************ */
.cabecera_nosotros{
    position: relative;
    width: 100%;
}
.cabecera_nosotros img{
    width: 100%;
}
.cabecera_nosotros h1{
    position: absolute;
    top: 25%;
    color: #ff8800;
    font-size: 600%;
    padding-left: 180px;
    font-weight: 800;
}
.equipo{
    color: white;
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 20px 100px;
}
.equipo img{
    width: 300px;
    border-radius: 20px;
    border: #ff8800 solid 4px;
}
.equipo p{
    padding-left: 100px;
    text-align: justify;
    font-size: larger;
}
.mis_vis{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    color: white;
    padding: 20px 100px;
    gap: 80px;
}
.bloque h3{
    color: #ff8800;
}
.bloque p{
    text-align: justify;
    font-size: larger;
}
/* ************************
AQUÍ PERSONALIZO LA SECCIÓN DE BLOG
************************ */
.blog{
    background-color: white;
    border: blue solid 3px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding: 50px;
    padding-right: 200px;
    padding-left: 200px;
}
.blog img{
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    border: #ff8800 solid 2px;
}
.imagenL{
    text-align: right;
    align-content: center;
}
.imagenR{
    text-align: left;
    align-content: center;
}
.post{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}
.post h3{
    color: #ff8800;
    margin-bottom: 20px;
    font-size: 30px;
}
.post p{
    text-align: justify;
}
/* ************************
AQUÍ PERSONALIZO LA SECCIÓN DE CONTACTO
************************ */
.contacto{
    min-height: 100vh;
    background-image: url("IMAGENES/CONTACTO.jpeg");
    display: flex;
    flex-direction: column;
    color: white;
    background-size: cover;
}
.contacto h1{
    font-size: 70px;
    padding-top: 40px;
}
.contacto_contenedor{
   text-align: center;
    width: 700px;
}
.contacto_formulario{
    padding-left: 80px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.contacto_formulario input,
.contacto_formulario select{
    border-radius: 40px;
    padding: 20px;
    border: 3px solid white;
    color: #ffffff;
    background: transparent;
    outline: none;
}
.contacto_formulario input::placeholder{
    color: white;
}
.contacto_formulario option{
    color: black;
}
.contacto_formulario button{
    align-self: center;
    padding: 15px;
    width: 623px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: #ff8800;
    color: white;
    font-size: 20px;
}
.contacto_formulario button img{
    width: 20px;
}
/* ************************
AQUÍ PERSONALIZO LA WEB RESPONSIVE PARA CELULARES
************************ */
@media (max-width: 768px){

    /*RESPONSIVO PORTADA*/
.cabecera{
    flex-direction: column;
}
.menu ul{
    flex-direction: column;
}
.redes{
    margin-left: 0;
}
.portada{
    height: auto;
    padding: 300px 20px;
}
.portada_texto{
    position: static;
    width: 100% 20px;
    text-align: center;
}

/*RESPONSIVO SERVICIOS*/
.servicio_grilla{
    grid-template-columns: 1fr;
    gap: 50px;
}
/*RESPONSIVO NOSOTROS*/
.equipo{
    flex-direction: column;
}
.equipo p{
    padding: 20px 20px;
}
.equipo img{
    width: 100%;
}
/*RESPONSIVO MISION Y VISION*/
.mis_vis{
    grid-template-columns: 1fr;
}
.cabecera_nosotros h1{
    font-size: 70px;
}
/*RESPONSIVO BLOG*/
.blog{
    grid-template-columns: 1fr;
}
.contacto{
    align-items: center;
}
}


